.center{
    text-align: center;
}
.album-ul{
    display: inline-block;
    text-align:left;
    font-size: 18px;
}
caption{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
} 
.album-table{
    width: 50%
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
div.centered table {
margin: 0 auto; 
text-align: center;
width:500px;
height:200px;
}
#rcolor{
    background-color: #808080;
}
