/*Header Styles*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

#ta_home_heading {
text-align: center;
font-family: 'Roboto Condensed', sans-serif;
}

.tcolor {
background-color: #efefef;
}

li a:link {
color: crimson;
}

li a:visited {
color: dodgerblue;
}

li a:hover {
font-weight: bold;
}

li a:active {
text-decoration: none;
}


.jumbotron {
margin-top: 5px;
padding-top: 10px;
padding-bottom: 10px;
}

/* Body Styles*/
.mar-top-10 {
margin-top: 10px;
}

.mar-bot-10 {
margin-bottom: 10px;
}

/*Footer Styles*/
footer {
position: relative;
bottom: 0;
top: 73px;
width: 100%;
text-align: center;
background-color: #efefef;
}

