@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

.host-font{
    font-family: 'Roboto Condensed', sans-serif;
}

.header-image-bg{
    background-image:url('../images/Taylor_Swift_1989.png');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: center;
    height: 300px;
 
}

.album-ul{
    display: inline-block;
    text-align:left;
    font-size: 18px;
    font-style:italic;
}
caption{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
} 
.album-table{
    width: 50%
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
div.centered table {
margin: 0 auto; 
text-align: center;
width:500px;
height:200px;
}
/*#rcolor{
    background-color: #808080;
}*/
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    background-color: grey;
}
thead{
    background-color: grey
}
tbody{
    font-style: italic;
    background-color: cornsilk;
}
