﻿label {
    width: 180px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
    margin-top: 10px;
}

input, select, textarea {
    margin: 10px;
}

select {
    width: 175px;
}

#su {
    margin-left: 50px;
}
