﻿/* General Styles*/
.header {
    background-color: #efefef;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.ta_footer {
    background-color: #efefef;
}

.mar-top-40 {
    margin-top: 40px;
}

.mar-bot-40 {
    margin-bottom: 40px;
}

#ta_home_heading {
    text-align: center;
}

ul {
    list-style-type: none;
    margin-top: -10px;
}

li {
    float: left;
}

    li a {
        display: block;
        padding: 14px 16px;
    }

hr {
    clear: both;
}

#ta_home_body {
    text-align: center;
}

/* Home Styles*/
#ta_home_desc {
    text-align: left;
    margin-bottom: -10px;
}

#ta_home_desc_p {
    text-align: justify;
}

.center {
    margin: auto;
    width: 380px;
    height: 275px;
    border: 1px solid #000;
    padding: 10px;
}

/*Menu Styles*/
.menu-table {
    text-align: center;
}

.wrapper {
    width: 52%;
    clear: both;
    margin: 0 auto;
}

.menu-table th, td {
    padding-left: 10px;
}

.menu-table th {
    font-size: 18px;
}

.tr-data td {
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Contact Styles*/
label {
    width: 227px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
    margin-top: 10px;
}

input, select, textarea {
    margin: 10px;
}

select {
    width: 175px;
}

#su {
    margin-left: 50px;
}

#visit_label {
    margin-left: -85px;
}

#contact_span input[type=checkbox] {
    text-align: right;
}

.left-mar {
    margin-left: -175px;
}

#contact_label {
    margin-left: 60px;
}

#ta_home_body label {
    font-weight: bold;
}
