/*Header Styles*/
#ta_home_heading {
    text-align: center;
}

.header {
    background-color: #efefef;
}

ul {
    list-style-type: none;
    margin-top: -10px;
}

li {
    float: left;
}

li a {
        display: block;
        padding: 14px 16px;
}

hr {
    clear: both;
}

/* Body Styles*/
.mar-top-40 {
    margin-top: 40px;
}

.mar-bot-40 {
    margin-bottom: 40px;
}

/*Footer Styles*/
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.ta_footer {
    background-color: #efefef;
}
